body{
	font-family: Helevetica,Arial,sans-serif;
	font-size: 13px;
}

table, tr, td{
	border-style:dotted;
	border-width: 1px;
	border-collapse:collapse;
	border-color:black;
}
td, th{
	text-align:center;
	width: 30px;
	height: 30px;
}

th{
	background-color: #0e4b00;
	font-weight:bold;
	color:  white;	
}


tr:nth-child(odd){
	background-color:#FBFBFB;
}

tr:nth-child(even){
	background-color:#C8DC95;
}

.linha_col_igual{
	font-weight:bold;
	font-size: 110%;
	color:white;
	background-color:green;
}
